@-webkit-keyframes moveGradient {
    to {
        background-position: 100% 50%;
    }
}

@keyframes moveGradient {
    to {
        background-position: 100% 50%;
    }
}

.sw-loader__wrapper {
    position: relative;
    margin: auto;
}

.sw-loader__wrapper--center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sw-loader__wrapper .sw-loader__holder {
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 15%;
    position: relative;
    transform: rotate(-45deg);
}

.sw-loader__wrapper .sw-loader__holder .rect {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, #141562, #486FBC, #EAB5A1, #8DD6FF, #4973C9, #D07CA7, #F4915E, #F5919E, #B46F89, #141562, #486FBC);
    background-position: 0% 50%;
    background-size: 1000% 1000%;
    overflow: hidden;
    -webkit-animation: moveGradient 15s infinite;
    animation: moveGradient 15s infinite;
}