.counter {
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 15px;
}

.counter > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.counter > input[type="range"]:-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.counter > input[type="range"]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.counter > input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 10px;
}

.counter > input[type="range"]:-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 10px;
}