.counter {
  position: relative;
  width: 100%;
  height: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.count {
  display: flex;
  position: relative;
  z-index: 10;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2px;
}

.count-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 8px;
  column-gap: 8px;
}

.count-title {
  text-align: left;
  font-size: 11px;
  display: block;
  color: #fff;
  text-shadow: 0 0 2px black;
}

.count-pic {
  border-radius: 10px;
  height: 7px;
  box-shadow: inset 0 0 3px rgb(0 0 0 / 50%);
  width: 75%;
}


/* ===== RANGE ====== */
.counter input[type='range'],
.counter input[type='range']::-webkit-slider-runnable-track,
.counter input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.counter input[type="range"]::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;

}

.counter input[type="range"]:-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.counter input[type="range"]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.counter input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 125px !important;
  padding: 100px;
  cursor: pointer;
  border-radius: 10px;
}

.counter input[type="range"]:-moz-range-track {
  width: 100%;
  height: 125px !important;
  cursor: pointer;
  border-radius: 10px;
}

.counter input[type=range]::-ms-track {
  width: 100%;
  height: 125px !important;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}