body {
  margin: 0;
  overflow: hidden;
  /* background: rgb(17,17,19); */
  background-color: transparent;
}

.App {
  text-align: center;
  height: 100vh;
}

.Sidebar{
  position: absolute;
  left:0;
  top:0;
  height: 100vh;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0054ff33;
}

.ListLink{
  list-style: none;
  margin: 0;
  padding:0;
}
