@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 8px #fff,
      0 0 15px #0fa,
      0 0 30px #0fa,
      0 0 40px #0fa,
      0 0 70px #0fa,
      0 0 100px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 5px #fff,
      0 0 11px #0fa,
      0 0 20px #0fa,
      0 0 30px #0fa,
      0 0 55px #0fa,
      0 0 80px #0fa;
  }
}

body {
  margin: 0;
  overflow: hidden;
  /* background: rgb(17,17,19); */
  background-color: transparent;
}


li{
    list-style: none;
    text-decoration: none;
}
.App {
  text-align: center;
  height: 100vh;
}

.Sidebar{
  position: absolute;
  left:0;
  top:0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #081225;
  opacity: 0;
  transform: translateX(-100vw);
  transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)
}

.Sidebar.Active{
  opacity: 0.8;
  transform: translateX(0px);
}

@media (min-width: 960px) {
  .Sidebar {
    opacity: 0.8;
    transform: translateX(0px);
  }
}
a:active, a:link, a:visited {
  color: white;
  animation: flicker .5s infinite alternate;
}
.ListLink{
  line-height: 20px;
  font-size: 14px;
  color: white;
  margin: 0;
  padding:0;
}

.CloseButton{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
}

.Dropdown{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  top: 7px;
  right: -21px;
}

/* .DropDownContent{
  display: none;
} */
.ListLinkItem{
  position: relative;
}
.ListLinkItem:not(:last-child) {
  margin-bottom: 20px;
}

.checkbox-bipolar-input {
  display: none;
}

.checkbox-bipolar-input:checked+label .checkbox-bipolar:after {
  left: 18px;
  right: 2px;
}

.checkbox-bipolar-input:checked+label .checkbox-bipolar .on {
  opacity: 0.5;
}

.checkbox-bipolar-input:checked+label .checkbox-bipolar .off {
  opacity: 0;
}

.checkbox-bipolar {
margin-left: 15px;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #36c373;
  display: inline-block;
  position: relative;
  bottom: -5px;
}

.checkbox-bipolar:after {
  content: '';
  display: block;
  position: absolute;
  background: #36c373;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 18px;
  border-radius: 8px;
  transition: all 0.3s;
}

.checkbox-bipolar .on {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6px;
  opacity: 0;
  transition: 0.3s;
  font-family: sans-serif;
  font-size: 14px;
}

.checkbox-bipolar .off {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  opacity: 0.5;
  font-family: sans-serif;
  transition: 0.3s;
  font-size: 14px;
}
.CardPanel{
  line-height: 20px;
  font-size: 14px;
  text-align: left;
  margin-left: 100px;
}